.shadow-none {
    box-shadow: none;
}

.text-base {
    font-size: 1rem;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

/* fade image in after load */
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
